.footer {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}

.footer h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.footer li {
    font-size: 16px;
    color: #4D4D4D;
    cursor: pointer;
}

.footer li:hover {
    color: #35499C;
    font-weight: 500;
}

.content-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-top-section {
    display: flex;
    gap: 120px;
    padding: 120px;
    justify-content: left;
}

.top-content {
    display: flex;
    width: fit-content;
    gap: 30px;
    flex-direction: column;
    margin-bottom: 40px;
    min-width: 300px;
}

.links {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-logo-name {
    color: #35499C;
    font-size: 24px;
    font-weight: 200;
}

.footer-logo-name span {
    font-weight: bold;
}

.company-caption {
    display: inline-block;
    white-space: nowrap;
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 400;
}

.footer-bottom-section {
    display: flex;
    background-color: aquamarine;
}