body {
    margin: 0;
    font-family: 'Mulish', system-ui, sans-serif;
}

p {
    margin: 0;
}

span {
    font-family: 'Mulish', system-ui, sans-serif;
}

h1 {
    margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
